@mixin btn-hover-light {
    transform: scale(1.1);
    transition: all .3s;
}

@mixin btn-purple {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-text);
    transform: scale(1.1);
    transition: all .3s;
}


